cloud-sql-python-connector
sqlalchemy==1.4.46
pymysql
passlib
streamlit 
pyLDAvis
navigation 
PyPDF2
pandas 
tabula
nltk
pdfminer
fitz
pillow
cv2
spacy
re
gensim
seaborn
matplotlib




