cloud-sql-python-connector
sqlalchemy==1.4.46
pymysql
passlib
streamlit 
os
pyLDAvis
navigation 
PyPDF2
pandas 
tabula
nltk
pdfminer
fitz
PIL 
cv2
spacy
re
gensim
seaborn
matplotlib




